#container{
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
}
div .gridsquare{
   border-style: solid;
    padding: 18px;


}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}